.uiverse-pixel-radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  border-radius: 0.5em;
  font-family: "Bitcount Prop Single", monospace;
}

body {
  background-color: #000000;
}

.uiverse-pixel-radio {
  display: flex;
  align-items: center;
  gap: 0.75em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px #3d3939;
  position: relative;
  font-family: "Bitcount Prop Single";
}

.uiverse-pixel-radio input[type="checkbox"] {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: #ff6b35;
  border: none;
  box-shadow: 0 0 0 0.15em #3d3939, 0 0 0 0.3em #fff, 0 0 0 0.45em #412b53;
  image-rendering: pixelated;
  margin: 0;
  transition: all 0.1s steps(1);
  position: relative;
}

.uiverse-pixel-radio input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 0.75em;
  height: 0.75em;
  background: #fff;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.1s ease-out;
  box-shadow: 0 0 0 1px #000;
}

.uiverse-pixel-radio input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
  background: #000;
}

.uiverse-pixel-radio input[type="checkbox"]:hover {
  background: #ff8c42;
}

.uiverse-pixel-radio input[type="checkbox"]:active {
  background: #e55a2b;
  transform: translateY(0.125em);
}

.uiverse-pixel-radio input[type="checkbox"]:focus-visible {
  outline: 2px dashed #fff;
  outline-offset: 0.2em;
}

/* From Uiverse.io by xbeat_5120 */
.uiverse-pixel-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: "Bitcount Prop Single";
  color: #fff;
  font-size: 1em;
  width: 18em;
}

.uiverse-pixel-label {
  text-shadow: 1px 1px #000;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: "Bitcount Prop Single";
}

.uiverse-pixel-input {
  appearance: none;
  border: none;
  padding: 0.6em;
  font-size: 1em;
  font-family: "Bitcount Prop Single";
  color: #fff;
  background: #ff6b35;
  image-rendering: pixelated;
  box-shadow: 0 0 0 0.15em #000, 0 0 0 0.3em #fff, 0 0 0 0.45em #000,
    0 0.3em 0 0 #d1451e, 0 0.3em 0 0.15em #000;
  outline: none;
  transition: all 0.15s steps(1);
  text-shadow: 1px 1px #000;
}

.uiverse-pixel-input::placeholder {
  color: #cca6a6;
  opacity: 0.6;
}

.uiverse-pixel-input:focus {
  background: #f88238;
  box-shadow: 0 0 0 0.15em #070000, 0 0 0 0.3em #d1b2b2, 0 0 0 0.45em #140a0a,
    0 0.2em 0 0 #32cc7f, 0 0.2em 0 0.15em #110d0d;
}

.userinput {
  color: #d1b2b2;
}
